.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    margin-bottom: 2rem;
}

#search-bar {
    width: 25%;
    padding: 8px;
    outline: none;
}

#search-button {
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}
